<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title id="title">
      Find a Recipe z
    </ion-title>
    <ion-buttons id = "SBarea" slot="end">
      
      <ion-searchbar [(ngModel)]="searchQuery" (change)="recipeSearch($event)" autocorrect="off"></ion-searchbar>
      <ion-button> 
       
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card  button = 'true' (click)="viewRecipe(item.id)" class="welcome-card" *ngFor="let item of recipeService.recipeList">
    <img src="https://spoonacular.com/recipeImages/{{ item.image }}" alt="" />
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>
