<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find a Recipe
    </ion-title>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
</ion-header>


<ion-content>
  <ion-card class="welcome-card" *ngFor="let item of recipeService.recipeList">
    <img src="https://spoonacular.com/recipeImages/{{ item.image }}" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{ item.id }}</ion-card-subtitle>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.readyInMinutes }} minutes</p>
    </ion-card-content>
  </ion-card>

</ion-content>